* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

#fundo{
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F6F3E3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 138px;
  border-radius: 0 0 25px 25px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F6F3E3;
}

header h2 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #5b2a86;
  margin-left: 55px;
}

header ul.center {
  list-style-type: none;
  font-family: "Source Serif Pro", sans-serif;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 2.5rem;
}

header ul.center li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  color: #5b2a86;
  height: 60px;
}

header ul.center li:hover {
  border-bottom: solid 10px #5b2a86;
  transition: border-bottom 0.5s;
}

header ul.center li a {
  text-decoration: none;
  color: inherit;
}

header ul.center li.home {
  background-color: #5b2a86;
  width: 100px;
  height: 40px;
  border-radius: 30px;
  color: #ffffff;
}

header ul.center li.home:hover {
  transition: border-radius 0s;
  transition: 1.5s;
  background-color: transparent;
  color: #5b2a86;
  border-radius: 0;
}

header ul.right {
  list-style-type: none;
  display: flex;
  margin-right: 55px;
}

header ul.right li {
  margin: 0 25px;
}

header ul.right img {
  width: 35px;
}

header ul.right li:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.container-login {
  background-color: #F6F3E3;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h1 {
  color: #5b2a86;
  margin-bottom: 20px;
  font-family: "Julius Sans One", sans-serif;
}

.login-form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
  color: #5b2a86;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #5b2a86;
  outline: none;
}

button {
  background-color: #5b2a86;
  color: #ffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6c47a0;
}

.registro {
  margin-top: 15px;
  font-size: 14px;
}

.registro a {
  color: #5b2a86;
  text-decoration: none;
}

.registro a:hover {
  text-decoration: underline;
}

footer.rodape {
  background-color: #ffff;
  padding: 0;
}

footer .conteudo-rodape {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

footer .coluna {
  flex: 1;
  margin: 0 20px;
}

footer .coluna h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-family: "Source Serif Pro", sans-serif;
}

footer .coluna p,
footer .coluna img {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

footer div.coluna img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

footer div.redes-sociais .icones-redes img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

footer div.formas-pagamento .icones-cartoes img {
  width: 50px;
  margin-right: 10px;
  object-fit: cover;
}

footer div.direitos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #666;
  font-size: 14px;
  background-color: #ffff;
  height: 70px;
}

footer div.direitos p {
  margin: 0;
  font-family: "Julius Sans One", sans-serif;
}
